[
    {epgsqerl, [
        {pools, [
            {pool1, [
                {size, 10},
                {max_overflow, 20}
            ], [
                {hostname, "127.0.0.1"},
                {port, 5432},
                {database, "db1"},
                {username, "postgres"},
                {password, ""},
                {timeout, 5000}
            ]}
        ]}
    ]}
].
